/* regular button settings */
button {
	position: relative;
	font-size: 0.9em;
	background-color: var(--button-bg);
	color: var(--button-text);
	border: 2px solid var(--border);
	border-radius: 4px;
}
button:hover    { background-color: #f6f6f6; }
button:active   { background-color: #e2e2e2; }
button:disabled { background-color: #d0d0d0; }